* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

html {
  font-family: "VT323", monospace;
}

h1,
h2,
h3 {
  font-family: "Syne Mono", monospace;
}

nav > a {
  margin: 30px;
  font-size: 2em;
  color: rgb(149, 97, 44);
}

nav > a:hover {
  background-color: dodgerblue;
}

nav > a:active {
  background-color: cyan;
}

.content {
  padding: 20px;
}

.top {
  text-align: center;
  background-color: chartreuse;
  padding: 40px 20px;
}

main {
  max-width: 800px;
  margin: 0 auto;
}

article + article {
  margin-top: 80px;
}

main > * {
  border-top: 2px solid darkolivegreen;
}

main > *:first-child {
  border-top: none;
}
